{% load static %}
<!doctype html>
<html>
  <head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="//cdn.muicss.com/mui-latest/css/mui.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'mui/style.css' %}" />
    <script type="text/javascript" src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{% static 'mui/script.js' %}"></script>
  </head>
  <body>
    <div id="sidedrawer" class="mui--no-user-select">
      <div id="sidedrawer-brand" class="mui--appbar-line-height">
        <span class="mui--text-title">CoVPN</span>
      </div>
      <div class="mui-divider"></div>
      {% block sidebar %}
      {% endblock sidebar %}
    </div>
    <header id="header">
      {% block header %}
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
          <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
          <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
          <span class="mui--text-title mui--visible-xs-inline-block">CoVPN</span>
        </div>
      </div>
      {% endblock header %}
    </header>
    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      {% block content %}
      {% endblock content %}
    </div>
    <footer id="footer">
      {% block footer %}
      <div class="mui-container-fluid">
        <br>
        Made with ♥ by <a href="https://www.muicss.com">MUI</a>
      </div>
      {% endblock footer %}
    </footer>
  </body>
</html>
