{% extends "base_module.html" %}

{% block title %}VPN Log Entries{% endblock %}

{% block content%}
<div class="mui-container-fluid">
    <table class="mui-table mui-table--bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Type</td>
            </tr>
        </thead>
        <tbody>
            {% for l in log %}
            <tr>
                <td><a href="/log/{{ l.pk }}">{{ l.pk }}</a></td>
                <td>{{ l.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
