{% extends "base_module.html" %}

{% block title %}VPN Log Entry{% endblock %}

{% block content%}
<div class="mui-container-fluid">
    <table class="mui-table mui-table--bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            {% for a in attr|dictsort:"name" %}
            <tr>
                <td>{{ a.name }}</td>
                <td>{{ a.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
